* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-color: #fff;
  }
  
  .side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #1d4fd7;
    transition: 0.5s;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 280px;
  }
  
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
  
  .headingAffiliate{
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .table{
    margin-left: 0px;
    margin-top: 3.5rem;
  }
.bigdiv{
  border-left-color: #3499bb;
  border-left-width: 20px;
}


  table tr {
    border-bottom: 1px solid black;
    margin-bottom: 20rem;
  }

  table tr:last-child {
    border: 0;
  }
  /* table{
    border-spacing: 0 3005px;
  } */

  .stop-scrolling {
    /* width: 100%; */
    height: 100%;
    overflow-x: hidden;
}
.card1:hover{
background-color: #3499bb;
}
.card2:hover{
  background-color: rgb(45, 255, 45);
}
.card3:hover{
  background-color: pink;
}
.card4:hover{
  background-color: rgb(244, 240, 40);
}


.helpbtn{
margin-left: 90%;
margin-top: 2%;
margin-bottom: 2%;
}

@media only screen and (max-width: 1000px){
  .helpbtn{
    margin-left: 80%;
  }
}

@media only screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
  .product {
    word-wrap: normal;
  }

  /* .tbox{
    margin-left:40%;
    width: 0%;


  } */
  .table{
    /* margin-left: 40%; */
    /* margin-right: 0%; */
  }
  .helpbtn{
    margin-left: 70%;
  }
  .card{
    word-wrap: normal;
  }
  .side-navbar{
    width:39%;
  }
  .active-cont {
    margin-left: 40%;
    margin-right: 2%;
  }
  .fa-ellipsis-vertical{
    display: none;
    color: #1d4fd7;
  }
  .dropdown-toggle{
    display: block;
  }
  
}
